@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Kollektif';
  src: url('/fonts/Kollektif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kollektif';
  src: url('/fonts/Kollektif-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

.kollektif-font {
  font-family: 'Kollektif', 'Open Sans', Arial, sans-serif;
}

@font-face {
  font-family: 'futura';
  src: url('/fonts/FuturaStd-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futura';
  src: url('/fonts/FuturaStd-Medium.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

.futura-font {
  font-family: 'futura', 'Open Sans', Arial, sans-serif;
}